.bluebox {
  margin: 4px auto;
  text-align: center;
  width: 95%;
}

.bluebox__contents {
  border: 1px solid blue;
  overflow: auto;
  padding: 5px;
}

.bluebox__title {
  background: blue;
  color: white;
  font-weight: bold;
}

.bluebox__title--collapsible {
  cursor: pointer;
}

.bluebox__expando {
  display: none;
  font-size: .8em;
  padding-left: 1em;
}

.filter {
  float: left;
  width: 33.333%;
}

.filter__input {
  margin: 0;
  padding: 0;
}

.filter__label {
  font-size: .8em;
}

.tattoo {
  align-items: center;
  display: flex;
  float: left;
  height: 50px;
  justify-content: flex-start;
  text-align: left;
  width: 33.333%;
  word-wrap: none;
}

.tattoo__sigil {
  height: 50px;
  margin: 0 5px;
  width: 50px;
}
