.tattoo {
  align-items: center;
  display: flex;
  float: left;
  height: 50px;
  justify-content: flex-start;
  text-align: left;
  width: 33.333%;
  word-wrap: none;
}

.tattoo__sigil {
  height: 50px;
  margin: 0 5px;
  width: 50px;
}
